{erl_opts, [
		debug_info,
		{src_dirs, ["./src","./tests"] }
	]}.

{lib_dirs, ["deps"]}.
{sub_dirs, ["rel"]}.

{eunit_opts, []}.
{eunit_compile_opts, []}.

{deps, [
	{json_erl_jones, "",
		{git, "git://github.com/arobson/json_erl_jones",
		{branch, "master" } } },
	{meck, "0.7.2", 
		{git, "git://github.com/eproxus/meck.git", 
		{tag, "0.7.2"} } }
]}.